html {
  background-color: #141414;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  font-size: 16px;
  font-family: 'Open Sans';
}

#top {
  padding-top: 2rem;
  font-family: 'Bangers';
  color: white;
  text-align: center;
}

#top .title {
  font-size: 4.5rem;
  height: 6rem;
  line-height: 6rem;
}

#top .subtitle {
  font-size: 1.25rem;
  height: 2rem;
  line-height: 2rem;
}

#content .column {
  display: flex;
  flex-direction: column;
}