<div class="w-1/2 mb-8 p-8 bg-zinc-200">
  <div class="{% if include.shorten  %}max-h-[500px] overflow-hidden{% endif %}">
    <a href="{{ include.post.url }}" class="title text-2xl text-center font-['Bangers'] mb-2 block">
      <h1>{{ include.post.title }}</h1>
    </a>
  
    <p class="text-xs text-center">{{ include.post.date | date: "%d %B %Y" }}</p>
  
    <div class="markdown">
      {{ include.post.content }}
    </div>
  </div>

  {% if include.shorten && ((include.post.content | number_of_words) > 100) %}
    <a href="{{ include.post.url }}" class="mt-4 text-xs block font-bold hover:underline">Continue reading...</a>
  {% endif %}
</div>