---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @media only print {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @media only screen {
    margin: auto;
    max-width: 800px;
    padding: 2.5rem; /* p-10 */
  }
}

@layer base {
  h1 {
    @apply mb-4 text-3xl font-bold sm:text-4xl;
  }

  h2 {
    @apply mb-2 text-2xl font-semibold;
  }

  h3 {
    @apply mb-2 text-xl font-semibold;
  }

  .subtitle {
    @apply ml-1 text-base font-normal text-gray-500;
  }

  p {
    @apply mb-1 text-justify;
  }

  section {
    @apply my-6;
  }

  ul {
    @apply pl-8 mb-2 list-disc;

    & > li {
      @apply mb-0.5;
    }
  }

  a {
    @apply text-blue-600 underline;
  }
}
