<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="p:domain_verify" content="b2f25094ac1aa2b8b745656c59668283"/>
  <meta name="monetization" content="$ilp.uphold.com/g6amPJDzjNhr" />
  {% seo %}
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700" rel="stylesheet"> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125391660-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125391660-1');
  </script>
</head>

<body class="font-['Open Sans']">
  <div class="font-['Bangers'] py-8 text-white text-center">
    <a href="/"><h1 class="mb-4 text-7xl">{{ site.title }}</h1></a>
    <h2 class="text-lg">{{ site.description }}</h2>
  </div>

  <div class="flex flex-col items-center">
    {{ content }}
  </div>
</body>
</html>